[build]
    command = "pnpm run build"
    publish = "dist"

[[redirects]]
    from = "/api/*"
    to = "http://my-commercial.ap-southeast-2.elasticbeanstalk.com/api/:splat"
    status = 200
    force = true

[[redirects]]
    from = "/*"
    to = "/index.html"
    status = 200